table {
  display: table;
  width: 100%;
}

thead,
tbody {
  display: table-row-group;
}

tr {
  display: table-row;
}

th,
td {
  display: table-cell;
  padding: 10px; /* Add padding to space out the cells */
}

.tr-content button {
  position: relative;
  right: 0;
}
