/* adopt.css */
.carousel-caption {
    bottom: initial;
    top: 10%;
    color:  #555;
  }

  .carousel-item img {
    opacity: 0.6;
  }

.favorite-btn{
  background-color: transparent;
  border: none;
  transition: opacity 0.3s ease ;
  cursor: pointer;
}