.alert-msg {
    position: fixed;
    z-index: 999;
    width: 80%;
}

.bottom {
    margin-bottom: 2rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.top {
    margin-top: 2rem;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-amount {
    padding: 0 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.quantity-controls .btn {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}

.quantity-controls .btn:hover {
    background-color: #6d4c41;
    color: white;
}


