.login-container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-form {
    padding: 2rem;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.login-button {
    width: 100%;
    padding: 0.8rem;
}

.regForm{
    margin-top: 20%;;
}

@media (max-width: 576px) {
    .login-form {
        padding: 1rem;
    }
}
